html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
}
#landing{
    color: white;
    margin-top: 0.875rem;
    font-size: 2rem;
}
#social{
    margin-top: 1rem;
    font-size: 2rem;
}
.changeContentColor{
    background-color: #3E2E44;
    color: white;
}
.changeContentColor1{
    background: none;
    color: white;
}

.sticky{
    position: sticky;
    top:1px;
    z-index: 1;
}
.aboutHeader{
    border-bottom: 1px solid gainsboro;
    color: white;
}
.navsticky{
    position: sticky;
    top:0px;
    z-index: 0;
}
section {
    padding: 74px;
    margin-top: 48px;
}
p{
    color: white;
}
#viewPort{
    width: 100%;
    position: fixed; bottom: 200px;
    font-size: 16pt;
    /*border-bottom: dashed 2px currentColor;*/
    text-shadow: 0 0 10px black;
    color: white;
}
@media  (min-width: 576px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #landing{
        color: white;
        margin-top: 0.875rem;
        font-size: 2rem;
    }
    #social{
        margin-top: 1.2rem;
        font-size: 2rem;
        margin-left: -2rem;
    }
    #facebook{
        margin-right: 1rem;
        margin-top: 0.5625rem;
    }
    #twitter{
        margin-right: 1rem;
        margin-top: 0.5625rem;
    }
    #instgram{
        margin-top: 0.5625rem;
    }
    #facebook a{

    }
    #social a{
        color: beige;
        text-decoration: none;
    }
    #instgram a{
    }
    #jumbotron {
        background: none;
        border-radius: 0;
    }

    #jumbotron-header {
        text-align: center;
        font-size: 3rem;
        color: wheat;
    }

    #jumbotron-lead {
        font-size: 1.5rem;
        text-align: center;
        color: white;
    }

    #lead {
        text-align: center;
        color: wheat;
    }
    nav#NavCol {
        margin-top: -2rem;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    ul#navigation {
        z-index: 1;
        background: white;
        padding: 0.9375rem;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .Sections {
        margin-top: 3rem;
    }
    #navigation .nav-item :hover{
        background: yellowgreen;
    }
    #navigation .nav-item a {
        color: coral;
        font-size: 1.5vw;
        font-weight: bold;
    }

}
@media (max-width: 575.98px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #landing {
        color: white;
        margin-top: 0.875rem;
        font-size: 2rem;
        text-align: center;
    }

    #social {
        margin-top: 1.2rem;
        font-size: 2rem;
        margin-left: 4rem;
    }

    #facebook {
        margin-right: 1rem;
        /* color: darkorange; */
    }

    #twitter {
        margin-right: 1rem;
    }

    #instgram {

    }

    #facebook a {

    }

    #social a {
        color: greenyellow;
        text-decoration: none;
    }

    #instgram a {

    }

    #jumbotron {
        background: #bfc1d2;
        border-radius: 0;
    }

    #jumbotron-header {
        text-align: center;
        font-size: 3rem;
    }

    #jumbotron-lead {
        font-size: 1.5rem;
        text-align: center;
    }

    #lead {
        text-align: center;
    }
    nav#NavCol {
        margin-top: -2rem;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    ul#navigation {
        z-index: 1;
        background: white;
        padding: 0.9375rem;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .Sections {
        margin-top: 3rem;
    }
    #navigation .nav-item :hover{
        background: yellowgreen;
    }
    #navigation .nav-item a {
        color: coral;
        font-size: 1.5vw;
        font-weight: bold;
    }
}
@media (min-width: 768px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #landing{
        color: white;
        margin-top: 0.875rem;
        font-size: 2rem;
    }
    #social{
        margin-top: 1.2rem;
        font-size: 2rem;
        margin-left: 1rem;
    }
    #facebook{
        margin-right: 1rem;
    }
    #twitter{
        margin-right: 1rem;
    }
    #instgram{

    }
    #facebook a{

    }
    #social a{
        color: greenyellow;
        text-decoration: none;
    }
    #instgram a{

    }
    nav#NavCol {
        margin-top: -2rem;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    ul#navigation {
        z-index: 1;
        background: white;
        padding: 0.9375rem;
        width: 100%;
        padding: 0
    }
    #navigation .nav-item :hover{
        background: yellowgreen;
    }

    .Sections {
        margin-top: 3rem;
    }
    #navigation .nav-item a {
        color: coral;
        font-size: 1.5vw;
        font-weight: bold;
    }
}
@media (min-width: 992px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #landing{
        color: white;
        margin-top: 0.875rem;
        font-size: 2rem;
    }
    #social{
        margin-top: 1.2rem;
        font-size: 2rem;
        margin-left: 5rem;
    }
    #facebook{
        margin-right: 1rem;
        /* color: darkorange; */
    }
    #twitter{
        margin-right: 1rem;
    }
    #instgram{

    }
    #facebook a{

    }
    #social a{
        color: greenyellow;
        text-decoration: none;
    }
    #instgram a{

    }
    #mainNavigtion {
        position: absolute;
        width: 100%;
        left: -14.3125rem;
        z-index: 1;
        top: 0rem;
    }
    nav#NavCol {
        margin-top: -2rem;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    ul#navigation {
        z-index: 1;
        background: white;
        padding: 0.9375rem;
        width: 100%;
        padding: 0
    }
    .Sections {
        margin-top: 3rem;
    }
    #navigation .nav-item :hover{
        background: yellowgreen;
    }
    #navigation .nav-item a {
        color: coral;
        font-size: 1.5vw;
        font-weight: bold;
    }
}
@media (min-width: 1200px) {
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #landing{
        color: white;
        margin-top: 0.875rem;
        font-size: 2rem;
    }
    #social{
        margin-top: 1.2rem;
        font-size: 2rem;
        margin-left: 8rem;
    }
    #facebook{
        margin-right: 1rem;
        margin-top: 0.5625rem;
    }
    #twitter{
        margin-right: 1rem;
        margin-top: 0.5625rem;
    }
    #instgram{
        margin-top: 0.5625rem;
    }
    #facebook a{

    }
    #social a{
        color: greenyellow;
        text-decoration: none;
    }
    #instgram a{

    }
    nav#NavCol {
        margin-top: -2rem;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    ul#navigation {
        z-index: 1;
        background: white;
        padding: 0.9375rem;
        width: 100%;
        padding: 0
    }
    .Sections {
        margin-top: 3rem;
    }
    #navigation .nav-item a {
        color: coral;
        font-size: 1.5vw;
        font-weight: bold;
    }
    #navigation .nav-item :hover{
        background: yellowgreen;
    }

}
@media (width: 762px) {
    #Nav {
        border: none;
        background: orange;
        position: absolute;
        left: 4rem;
    }
}